@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    --lihgtGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
    --events-back: #7F7F76;
}

article>img{
  width: 30rem;
}

article{
  display: flex;

}

.div-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--lihgtGray);
  font-family: "EB Garamond", serif;
  border-top: 10px solid #333333;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #3d3c3e;
  border-left: 10px solid #3d3c3e;
}


.section-2{
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;  
  background-color: var(--lihgtGray);
  font-family: "EB Garamond", serif;
  border-top: 10px solid #333333;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #3d3c3e;
  border-left: 10px solid #3d3c3e;
}
