@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    --lihgtGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
    --events-back: #7F7F76;
}

article>img{
  width: 30rem;
}

article{
  display: flex;

}

.div-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--lihgtGray);
  font-family: "EB Garamond", serif;
  border-top: 10px solid #333333;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #3d3c3e;
  border-left: 10px solid #3d3c3e;
}


.section-2{
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;  
  background-color: var(--lihgtGray);
  font-family: "EB Garamond", serif;
  border-top: 10px solid #333333;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #3d3c3e;
  border-left: 10px solid #3d3c3e;
}

.section-3{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--lihgtGray);
  font-family: "EB Garamond", serif;
  border-top: 10px solid #333333;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #3d3c3e;
  border-left: 10px solid #3d3c3e;
}



/* section img {
    width: 50rem;
    height: 30rem;
  }
  
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--lihgtGray);
    font-family: "EB Garamond", serif;
    border-top: 10px solid #333333;
    border-right: 10px solid #333333;
    border-bottom: 10px solid #3d3c3e;
    border-left: 10px solid #3d3c3e;
  }
  
  .section-1 .div-text {
    color: var(--darkGray);
    max-width: 50%;
  }

  .section-1,p{
    padding-left: 1rem;
  }
  
  .section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: var(--lihgtGray);
    font-family: "EB Garamond", serif;
    border-top: 10px solid #333333;
    border-right: 10px solid #333333;
    border-bottom: 10px solid #3d3c3e;
    border-left: 10px solid #3d3c3e;

  }
  
  .section-2 .div-text {
    color: var(--darkGray);
    max-width: 50%;
  }

  .section-2,p{
    padding-right: 1rem;
  }

  .section-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--lihgtGray);
    font-family: "EB Garamond", serif;
    border-top: 10px solid #333333;
    border-right: 10px solid #333333;
    border-bottom: 10px solid #3d3c3e;
    border-left: 10px solid #3d3c3e;

    
  }
  
  .section-3 .div-text {
    color: var(--darkGray);
    max-width: 50%;
}

.section-3,p{
    padding-left: 1rem;
  }
 */