:root {
    --lightGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
}

.eventsMain-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    background-color: var(--lightGray);
    height: 100vh;
}

.events-containers{
    display: flex;
    flex-direction: column;
}