:root {
    --lightGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
}
.gallery-main{
    background-color: var(--lightGray);
    padding-top: 10vh;
    margin-top: 10vh;
    min-height: 80vh;
}

.gallery-main>h3{
    text-align: center;

}

.big-img{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.selected-image{
    width: 50rem;
    height: 30rem;
}

