:root {
    --lihgtGray: #a4a49c;
    --mediumGray: #3d3c3e; 
}


header {
    background-color: var(--mediumGray);
    color: var(--lihgtGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-family: 'Roboto', sans-serif;
}
nav>a {
    color: var(--lihgtGray);
    text-decoration: none;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
}

.title-header {
    margin: 0 1rem;
}
