:root {
    --lihgtGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
}


header {
    background-color: var(--mediumGray);
    color: var(--lihgtGray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 7rem; 
    height: auto; 
}

nav {
    display: flex;
    gap: 2rem;
    
  }


  nav a {
    color: var(--lihgtGray);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: var(--darkGray);
  }