@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --lightGray: #a4a49c;
  --mediumGray: #3d3c3e; 
  --darkGray: #333;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--mediumGray);
  color: var(--lightGray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "EB Garamond", serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  width: 7rem; 
  height: auto; 
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--lightGray);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: var(--darkGray);
}

.cart-icon {
  font-size: 1.5em; 
  color:var(--lightGray); 
  margin-left: 15px;
  cursor: pointer;
}

.cart-icon:hover {
  color: white;
}

.user-icon:hover {
  color: white;
}

/* Cambios en el texto de bienvenida */
.user-options span {
  display: flex;
  font-size: 18px; 
  font-weight: bold; 
  color: var(--lightGray); 
}

/* Cambios en el botón de "View Profile" */
.profile-button {
  padding: 5px 10px;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 1rem
}

.profile-button:hover {
  background-color: #0056b3;
}


.profile-link:hover {
  text-decoration: underline;
}

/* Cambios en el botón de "Logout" */
.logout-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.user-cart-icons{
  display: flex;
  flex-direction: row;
    align-items: center
}