@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --lightGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
}

.hotel-info{
    min-height: 100vh;
    padding-bottom: 10rem;
    margin-top: 10vh;
    padding-top: 10vh;
    background-color: var(--lightGray);
    font-family: "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hotel-info-title{
    font-size: 2.5rem; 
    font-weight: bold;
    text-decoration: underline;
    color: var(--darkGray);
}


.hotel-images-info {
    display: flex;
    flex-wrap: wrap;
}

.hotel-images-info img {
    max-width: 30rem;
    max-height: 50rem;
    margin: 1rem;
}

.hotel-info img {
    max-width: 100%; 
    height: auto; 
    margin: 0.5rem; 
}

.hotel-info-middle {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
    width: 100vw;
    background: var(--mediumGray);
    color: white;
    box-sizing: border-box
}


.hotel-info-middle>p{
    width: 85rem;
}

#img-info-middle{
    height: 30rem;
}

.slogan{
    font-size: 3rem;
    margin-top: 3rem;
    
}

#last-pic-hotel-info{
    width: 100%;
    max-height: 55rem;
}

.hotel-info-intro-section{
    .hotel-info-intro-section {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        width: 100%;
        padding: 0 1rem;
    }
    
    #hotel-info-new, #intro-hotel-info {
        display: flex;
    flex-direction: column;
        width: 33.33%;
        padding: 0 1rem;
    }
    
    #info-img-intro {
        width: 33.33%;
        object-fit: cover;
        height: auto;
    }    
}


.hotel-info-intro-section,p{
    display: flex;
    justify-content: center;
}

#info-img-intro{
    height: 50rem;
    max-width: 50rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 5px solid var(--mediumGray); 
    border-radius: 10px;
}

#last-pic-hotel-info{
    border: 5px solid var(--mediumGray); 
    
}