:root {
  --lightGray: #a4a49c;
  --mediumGray: #3d3c3e;
  --darkGray: #333;
}

/* Contenedor principal similar al de CreateUser */
.login-main {
  margin-top: 5rem;
  padding-top: 5rem;
  background-color: var(--lightGray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border: 1px solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login label {
  margin-bottom: 1rem;
}

.form-login input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--darkGray);
  border-radius: 0.5rem; /* Bordes redondeados */
}

.form-login button {
  border: none;
  cursor: pointer;
  background-color: var(--mediumGray);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.form-login button:hover {
  background-color: var(--darkGray);
}

.error-message, .success-message {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
}

.error-message { background: #e74c3c; color: #fff; }
.success-message { background: #2ecc71; color: #fff; }

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.img {
  margin-left: 2rem;
}

.img img {
  width: 150px;
  height: auto;
}
