:root {
    --lihgtGray: #a4a49c;
    --mediumGray: #3d3c3e; 
    --darkGray: #333;
}


.room-details {
    min-height: 100vh;
    padding-bottom: 10rem;
    margin-top: 10vh;
    background-color: var(--lihgtGray);
  }
  
  